body {
    width: 1280px;
    line-height: 70px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
}

a:not(.header__title) {
    text-decoration: none;
    color: rgb(253, 89, 0);
    font-weight: 900;
}

a:hover {
    color: rgb(253, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 30px;
    background-color: rgb(246, 246, 246);
    border-bottom: 0.3rem solid;
    border-color: rgb(205, 205, 205);
    box-shadow: 3px 5px 10px -3px rgb(185, 185, 185);
}

.header__title {
    display: inline-block;
    line-height: 20px;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(10, 9, 10);
    font-family: 'Baloo Bhaina 2', cursive;
}

.header__title:first-letter {
    font-size: 2em;
    color: rgb(253, 89, 0);
}

.header__nav--list {
    display: inline-block;
    margin-right: 20px;
    padding-top: 17px;
    font-weight: lighter;
    font-size: 87%;
}

.title {
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.container {
    width: 80%;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: rgb(243, 243, 243);
    padding-top: 20px;
}

.title-name,
.title-gender,
.title-email,
.opinion,
.review1,
.review2,
.review3 {
    display: inline;
    margin-left: 50px;
    font-weight: bold;
}

.item-title {
    display: inline-block;
    width: 30%;
}

input[type="text"] {
    width: 29.5%;
    padding: 6px 3px;
}

input[type="radio"] {
    transform: scale(2.0);
    accent-color: rgb(255, 166, 0);
    width: 3%;
}

textarea {
    width: 30%;
    vertical-align: top;
    margin-top: 23px;
    height: 110px;
}

.required {
    color: white;
    background-color: red;
    margin-left: 9px;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: lighter;
    vertical-align: 1.3px;
}

.careful {
    line-height: 20px;
    margin-left: 320px;
    color: #8f8f8f;
}

.error {
    font-size: 16px;
    color: #ff7676;
    margin-left: 640px;
    line-height: 0px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.stars1 span,
.stars2 span,
.stars3 span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars1 input[type='radio'],
.stars2 input[type='radio'],
.stars3 input[type='radio'] {
    display: none;
}

.stars1 label,
.stars2 label,
.stars3 label {
    color: #D2D2D2;
    font-size: 20px;
    padding: 0 5px;
    cursor: pointer;
}

.stars1 label:hover,
.stars1 label:hover~label,
.stars1 input[type='radio']:checked~label,
.stars2 label:hover,
.stars2 label:hover~label,
.stars2 input[type='radio']:checked~label,
.stars3 label:hover,
.stars3 label:hover~label,
.stars3 input[type='radio']:checked~label {
    color: #F8C601;
}


.review-title {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 90px;
}

.review1,
.review2,
.review3 {
    display: inline-block;
    line-height: 30px;
}

label .unselected {
    font-size: 14px;
    font-weight: lighter;
}

button {
    padding: 5px 56px;
    font-size: 87%;
    background-color: rgb(159, 159, 149);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.confirm :hover {
    background: rgb(134, 134, 133);
    color: white;
}
