body {
    width: 1280px;
    line-height: 70px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
}

a:not(.header__title) {
    text-decoration: none;
    color: rgb(121, 121, 8);
}

a:hover {
    color: rgb(91, 91, 7);
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 30px;
    background-color: rgb(246, 246, 246);
    border-bottom: 0.3rem solid;
    border-color: rgb(205, 205, 205);
    box-shadow: 3px 5px 10px -3px rgb(185, 185, 185);
}

.header__title {
    display: inline-block;
    line-height: 20px;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(10, 9, 10);
    font-family: 'Baloo Bhaina 2', cursive;
}

.header__title:first-letter {
    font-size: 2em;
    color: rgb(144, 144, 33);
}

.header__nav--list {
    display: inline-block;
    margin-right: 20px;
    padding-top: 17px;
    font-weight: lighter;
    font-size: 87%;
}

.title {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

.container {
    width: 80%;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: rgb(243, 243, 243);
    padding-top: 20px;
}

.container .item {
    margin-left: 40px;
}

span {
    display: inline-block;
    width: 27%;
    font-weight: bold;
}

.opinion {
    margin-top: 30px;
    vertical-align: top;
    line-height: 8px;
}

.opinion-ans {
    margin-top: 15px;
    line-height: 23px;
    vertical-align: top;
    width: 400px;
    display: inline-block;
    word-break: break-all;
}

.review1 {
    margin-top: 20px;
}

.post button {
    padding: 5px 56px;
    font-size: 87%;
    background-color: rgb(255, 166, 0);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.post :hover {
    background: rgb(236, 158, 15);
    color: white;
}

.back button {
    padding: 5px 42px;
    font-size: 87%;
    background-color: rgb(159, 159, 149);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.back :hover {
    background: rgb(134, 134, 133);
    color: white;
}
