body {
    width: 1280px;
    line-height: 70px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
}

a:not(.header__title) {
    text-decoration: none;
    color: rgb(121, 121, 8);
}

a:hover {
    color: rgb(91, 91, 7);
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 30px;
    background-color: rgb(246, 246, 246);
    border-bottom: 0.3rem solid;
    border-color: rgb(205, 205, 205);
    box-shadow: 3px 5px 10px -3px rgb(185, 185, 185);
}

.header__title {
    display: inline-block;
    line-height: 20px;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(10, 9, 10);
    font-family: 'Baloo Bhaina 2', cursive;
}

.header__title:first-letter {
    font-size: 2em;
    color: rgb(144, 144, 33);
}

.header__nav--list {
    display: inline-block;
    margin-right: 20px;
    padding-top: 17px;
    font-weight: lighter;
    font-size: 87%;
}

.container {
    margin-top: 60px;
    text-align: center;
}

.home a {
    padding: 10px 20px;
    font-size: 87%;
    background-color: rgb(159, 159, 149);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: none;
    width: 30%;
    margin-top: 10px;
}

.home :hover {
    background: rgb(134, 134, 133);
    color: white;
}
