body {
    width: 1280px;
    line-height: 70px;
    font-weight: bold;
    margin: 0 auto;
    background-image: url(../image/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a:not(.header__title) {
    text-decoration: none;
    color: rgb(253, 89, 0);
    font-weight: 900;
}

a:hover {
    color: rgb(253, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 30px;
    background-color: rgb(246, 246, 246);
    border-bottom: 0.3rem solid;
    border-color: rgb(205, 205, 205);
    box-shadow: 3px 5px 10px -3px rgb(185, 185, 185);

}

.header__title {
    display: inline-block;
    line-height: 20px;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(10, 9, 10);
    font-family: 'Baloo Bhaina 2', cursive;
}

.header__title:first-letter {
    font-size: 2em;
    color: rgb(253, 89, 0);
}

.header__nav--list {
    display: inline-block;
    margin-right: 20px;
    padding-top: 17px;
    font-weight: lighter;
    font-size: 87%;
}

.container {
    padding-bottom: 220px;
    margin-top: 10px;
    background-color: white;
    width: 35%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 200px;
    padding-bottom: 40px;
}

.title {
    font-size: larger;
    text-align: center;
}

.errors {
    color: red;
    padding-left: 50px;
    line-height: 30px;
}

.wrapper {
    text-align: center;
}

.email {
    padding: 10px 220px 10px 20px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    border-radius: 3px;
}

.password {
    padding: 10px 220px 10px 20px;
}

.login {
    padding: 10px 162px;
    cursor: pointer;
    background-color: rgb(255, 166, 0);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.text {
    color: rgb(207, 207, 207);
    font-weight: lighter;
    line-height: 300%;
}

.register {
    color: blue;
    line-height: 10%;
    cursor: pointer;
}

.login:hover {
    background: rgb(236, 158, 15);
    color: white;
}
