body {
    width: 1280px;
    line-height: 70px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
}

a:not(.header__title) {
    text-decoration: none;
    color: rgb(121, 121, 8);
}

a:hover {
    color: rgb(91, 91, 7);
}


header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 7px;
    line-height: 30px;
    background-color: rgb(246, 246, 246);
    border-bottom: 0.3rem solid;
    border-color: rgb(205, 205, 205);
    box-shadow: 3px 5px 10px -3px rgb(185, 185, 185);

}

.header__title {
    display: inline-block;
    line-height: 20px;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(10, 9, 10);
    font-family: 'Baloo Bhaina 2', cursive;
}

.header__title:first-letter {
    font-size: 2em;
    color: rgb(144, 144, 33);
}

.header__nav--list {
    display: inline-block;
    margin-right: 20px;
    padding-top: 17px;
    font-weight: lighter;
    font-size: 87%;
}



.container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    border: solid;
    border-radius: 10px;
    border-width: 0.3px;
    background-color: rgb(243, 243, 243);
    margin-top: 50px;
    padding-bottom: 30px;

}

.title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;

}


.title:first-letter {
    font-size: 2em;
    color: rgb(144, 144, 33);
}




table {
    margin: auto
}

th {
    line-height: 40px;

}




th,
td {



    border-bottom: solid;
    border-color: rgb(162, 162, 162);
    padding-left: 100px;
    margin-left: 80px;
    line-height: 45px;


}

tr :first-child {
    font-size: 24px;
    color: rgb(144, 144, 33);
    padding-left: 0px;

}





tr:nth-child(2) .rank {
    font-size: 30px;
    color: white;
    vertical-align: middle;
    background-color: rgb(144, 144, 33);
    border-radius: 50%;


}

tr:nth-child(3) .rank {
    font-size: 30px;
    color: rgb(34, 34, 34);
    vertical-align: middle;
    background-color: silver;
    border-radius: 50%;

}

tr:nth-child(4) .rank {
    font-size: 30px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    background-color: rgb(182, 49, 49);
    border-radius: 50%;
}

.a {
    margin-left: 700px;
    line-height: 30px;
}
